<header>
    <div id="header-nav">
        <div>
            <p>Job Posting</p>
        </div>
        <div>
            <ul id="horizontal-list">
                <% if(locals.user){%>
        
                    <li>
                        <a href="/users/profile/<%= user.id %>"><%= user.name%></a>
        
                    </li>
                    <li>
                        <a href="/users/sign-out"> Sign Out</a>
                    </li>
                <%} else {%>
                    <% if(locals.recruiter){%>

                        <li>
                            <a href="/recruiters/profile/<%= recruiter.id %>"><%= user.name%></a>
            
                        </li>
                        <li>
                            <a href="/recruiters/sign-out"> Sign Out</a>
                        </li>
                    <% } else {%>
                        
                        <li>
                            <a href="/recruiters/sign-in"> Recruiter login</a>
                        </li>
                        <li>
                            <a href="/recruiters/sign-up"> Recruiter Sign up</a>
                        </li>
                        <li>
                            <a href="/users/sign-in"> User login</a>
                        </li>
                        <li>
                            <a href="/users/sign-up"> User Sign up</a>
                        </li>
                        <% } %>
                <% } %>
            </ul>
        </div>
    </div>
    


</header>